In [1]:
import pandas as pd
import numpy as np

In [3]:
train_import_df = pd.read_csv('HackathonData2025.csv', index_col='Well Name')
test_import_df = pd.read_csv('testing.csv', index_col='Well Name')

train_import_df['is_train'] = True
test_import_df['is_train'] = False

master_df = pd.concat([train_import_df, test_import_df])
master_df.head()

,# Stages,# Clusters,Estimated Average Stage Time,Actual Average Stage Time,Frac Fleet,Fleet Type,Target Formation,Field Area,Ambient Temperature,Grid,Diesel,CNG,Fuel Type,Sand Provider,is_train
Well Name,,,,,,,,,,,,,,,
Cameron 1H,68,480,85.7,120.5,Fleet 4,Zipper,Pecan Tree,West Campus,35.9,0.0,0.0,22717.0,Turbine,SAND_C_X,True
Cameron 2H,68,431,85.7,117.6,Fleet 4,Zipper,Pecan Tree,West Campus,35.9,0.0,0.0,22717.0,Turbine,SAND_C_R,True
Tipton 1H,76,507,76.2,87.0,Fleet 8,Zipper,Bluebonnet,Gregory Gym,38.1,0.0,65098.0,14690.0,DGB,SAND_C_R,True
Tipton 2H,76,565,76.2,87.3,Fleet 8,Zipper,Lone Star,Gregory Gym,38.1,0.0,64526.0,14644.0,DGB,SAND_C_A,True
Tipton 3H,76,522,76.2,90.8,Fleet 8,Zipper,Longhorn,Gregory Gym,38.1,0.0,67659.0,14975.0,DGB,SAND_C_X,True

In [4]:
train_df = master_df[master_df['is_train']]
test_df = master_df[~master_df['is_train']]

In [5]:
# Check available columns
master_df.columns.tolist()

['# Stages',
 '# Clusters ',
 'Estimated Average Stage Time',
 'Actual Average Stage Time',
 'Frac Fleet',
 'Fleet Type',
 'Target Formation',
 'Field Area',
 'Ambient Temperature',
 'Grid',
 'Diesel',
 'CNG',
 'Fuel Type',
 'Sand Provider ',
 'is_train']

In [ ]:
feature_cols = predictor_features.drop('is_preproduction')

X_train = wells_df.loc[mask_train, feature_cols]
y_train = wells_df.loc[mask_train, target]

X_pred  = wells_df.loc[mask_pred,  feature_cols]